services:
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    networks:
      - testnet 
  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    networks: 
      - testnet
    depends_on:
      - backend

networks:
  testnet:
    driver: bridge